<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://emailnotificationapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b0a1a623-9004-4ba7-a72b-5011f388d98e/resourceGroups/ReenbitCamp/providers/Microsoft.Web/sites/EmailNotificationApplication</ResourceId>
    <UserName>$EmailNotificationApplication</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://emailnotificationapplication.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>